body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
}

header, footer {
    display: flex;
    padding: 16px;
}

.face img {
    height: auto;
    width: 200px;
}

.info-block img {
    height: auto;
    width: 100px;
}


