body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
}

header, footer {
    display: flex;
    padding: 16px;
    color: white;
    background-color: #1F2937;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links {
    display: flex;
}

header p {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
}

header a {
    color: #F9FAF8;
    text-decoration: none;
    margin: 20px;
}

.face {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.face-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.face-info h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.face-info p {
    color: #E5E7EB;
    font-size: 18px;
}

button {
    background-color: #3882F6;
    color: white;
    max-width: fit-content;
    border-radius: 8px;
    padding: 8px 16px;
}

.face-info button {
    border: 0px;
}

.face img {
    height: auto;
    width: 200px;
    margin: 60px;
}

.info-details {
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}

.info h2 {
    font-size: 32px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

.info-block img {
    height: auto;
    width: 100px;
    border: 8px solid #1F2937;
    border-radius: 10px;
    margin: 0px 40px
}

.info-block p {
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 60px;
    align-items: center;
}

.quote p {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 100;
}

.quote h4 {
    text-align: right;
}

.help {
    display: flex;
    justify-content: center;
    padding: 80px;
}

.card {
    background-color: #3882F6;
    color: white;
    display: flex;
    padding: 40px 80px;
    justify-content: space-between;
    border-radius: 20px;
    column-gap: 240px;
    align-items: center;
}

.card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card h4 {
    text-align: left;
    margin: 0px;
}

.card p {
    margin: 0px;
}

.card button {
    border-color: white;
    padding: 8px 16px;
    align-self: center;
    flex-shrink: 0;
}

footer {
    justify-content: center;
}

